<main>
    <form (ngSubmit)="onSubmit()" class="form-container">

        <div>
            <label for="nombre">Nombre</label>
            <input type="text" [(ngModel)]="usuario.nombre" name="nombre" required placeholder="Nombre">
        </div>

        <div>
            <label for="email">Email</label>
            <input type="email" [(ngModel)]="usuario.email" name="email" required placeholder="Ingresa el Email">
        </div>

        <div>
            <label for="password">Contraseña</label>
            <input type="password" [(ngModel)]="usuario.password" name="password" required
                placeholder="Ingresa la Contraseña">
        </div>

        <div>

            <label for="rol">Selecciona un rol:</label>

            <select name="rol" id="rol" [(ngModel)]="usuario.rol">
                <option value="cliente">Cliente</option>
                <option value="admin">Administrador</option>
            </select>
        </div>
        <button type="submit" class="primary">Registrarse</button>
    </form>
</main>